      #filters{
        display: flex;
        flex-wrap: wrap;
        color:#fe424d
      
       
      }
      .filter{
        text-align: center;
        margin-left: 1rem;
         margin-right: 2rem;
         margin-top: 2rem;
         margin-bottom: 1rem;
         opacity: 0.7;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }
      .filter p{
        font-size: small;
      }

      .tax-info{
        display: none;
        color: rgb(114, 111, 111);
      }

      .tax-toggle{
        display: flex;
        font-size:small;
        color: black;
        border: 1px solid black;
        border-radius: 1rem;
        height: 2rem;
        width: 10rem;
        padding-left: 1.4rem;
       padding-top: 0.3rem;
        text-align: center;
         margin-top: 2rem;
      }

      @media (max-width: 768px){
        .tax-toggle{
          display: flex;
          margin-right: 14rem;
          margin-bottom: 1rem;
        }

          
        
      }



